/*CSS Directory
    1. = GLOBAL
    2. = STATS SITE

*/

/* GLOBAL
================= */

body {
    font-family: 'Kanit', sans-serif;
    background-color: #edf1f5;
}

/*
.header {
    background-color: #343a40;
    padding-top: 10px;
    height: 100px;
}

.header h2 a{
    color: white;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    margin-left: 40px;
    padding: 10px 0;
    font-size: 40px;
}
.header p a {
    font-size: 20px;
    margin-left: 10px;
}
h2 a:hover, p a:hover {
    text-decoration: none;
}
*/

h2, h3 {
    text-transform: uppercase;
}


/* STATS SITE
================= */

.visit,.sign-up, .article, .download {
    margin: 30px 10px 0 20px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    max-width: 20%;

}

/*
.visit {
    background-color: #00b297;
}

.sign-up {
    background-color: #dc3545;
}

.visit p, .sign-up p, .article p, .download p {
    margin-top: 15px;
}

.article {
    background-color: #0866c6;
}

.download {
    background-color: #e67e22;
}

.visit p span, .sign-up p span, .download p span {
    float: right;
    font-size: 30px;
    color: white;
}

.article p span {
    float: right;
    font-size: 20px;
    
}

.article a {
    color: white;
    font-family: 'Kanit',sans-serif;
    font-weight: 500;
}
*/

/*
.visit i, .sign-up p i, .article p i, .download p i {
    font-size: 70px;
    color: rgba(128, 128, 128, 0.69);
}
*/

/*
.visit h5, .sign-up h5, .article h5, .download h5 {
    color: black;
    text-transform: uppercase;
    font-weight: 100;
    border-bottom: 1px solid rgba(128, 128, 128, 0.92);
}
*/


.icon {
    color: rgba(0, 0, 0, 0.68);
    font-size: 60px;
    padding-left: 10px;
}

/* EDIT ARTICLE
================= */

.edit-article {
/*    background-color: white;*/
    margin-top: 30px;
/*    margin-left: 5px;*/
/*    border-radius: 5px;*/
}

.edit-article table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
/*    margin-bottom: 10px;*/
}

.edit-btn {
    color: rgba(16, 88, 36, 0.79);
    font-size: 20px; 
}

.remove-btn {
    color: red;
    font-size: 20px; 
}

.add-btn {
    color: blue;
    font-size: 20px;
}

.edit-article td, .edit-article th {
    border: 1px solid black;
    text-align: center;
/*
    padding-right: 10px;
    padding-left: 10px;
*/
    width: 50px;
    height: 50px;
}

/* ARTICLE STAT
================= */

.chart-visit-img, .chart-connexion-img {
    margin: 30px 10px 0;
}


/*  USER SETTING
================= */
.user-area {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;  
}
.user-setting p {
    color: darkgrey;
}
.tab-user{
    width: 100%;
    margin-bottom: 20px;
/*    margin: 0 20px 0;*/
}
.tab-user td {
    border-bottom: 1px solid grey;
    padding:10px 10px;
    text-align: center;
}
.tab-user td span {
    font-size: 15px;
    color: rgba(46, 46, 46, 0.72);
}

.img-user {
    height: 70px;
    width: 70px;
    border-radius: 100%;
}


/*  EDIT VIDEO 
================= */

.edit-video table {
    border-collapse: collapse;
    border: 1px solid black;
}

.edit-video td {
    border: 1px solid black;
}